@import "base";
@import "hamburgers/hamburgers"; // mixin animation 參考
@import "include/normal"; // 常用基本的css 
@import "bootstrap";
@import "include/animation"; // mixin animation 參考

body {
    font-family: $default-font-family;
    color: $main-color;
}
h1{
    margin: 64px 0 18px;
}
.chapter_section{
    padding: 32px 15px;
    border: 1px solid #CCC;
    border-radius: 15px;
}