
//** main-color
$main-color: #000 !default;
$hover-color: #6fa7c8 !default;
$company-color: #1a478a !default;

// $hover-color: #97bf0d !default;
// $header-color: #1772b4 !default;
// $website-color: #1772b4 !default;
// $title-color: #101c38 !default;
$og-width: 1400px;
$default-font-family: "Noto Sans", "Microsoft JhengHei" ,"Microsoft YaHei UI", 微软雅黑, メイリオ, "맑은 고딕", sans-serif;
$number-family: 'Saira', sans-serif;
$transparent: transparent;